<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <a class="footer-brand" href="/">AR Holz- &amp; Bautenschutz</a>
      <p>Dachreinigung, kleine Reparaturen,<br />Holzschutz und Abdichtungen in Konstanz.</p>
    </div>
    <div>
      <span class="footer-label">Kontakt</span>
      <a href="tel:+491772156157">+49 177 2156157</a>
      <a href="mailto:AR.Holzschutz@web.de">AR.Holzschutz@web.de</a>
    </div>
    <div>
      <span class="footer-label">Anschrift</span>
      <p>Aref Razai<br />Bücklestraße 9 A<br />78467 Konstanz</p>
    </div>
    <div>
      <span class="footer-label">Rechtliches</span>
      <a href="/impressum/">Impressum</a>
      <a href="/datenschutz/">Datenschutz</a>
    </div>
  </div>
  <div class="container footer-bottom">
    <span>© {new Date().getFullYear()} AR Holz- &amp; Bautenschutz</span>
    <span>Persönlich geführt von Aref Razai</span>
  </div>
</footer>
